<div class="selected" [ngSwitch]="selected">
    <div *ngSwitchDefault>
        <div class="item">Select a product</div>
        <div class="text-item">
            <p>Select a product</p>
        </div>
    </div>
    <div *ngSwitchCase="1">
        <div class="item"><img src="https://icons.iconarchive.com/icons/fi3ur/fruitsalad/128/apple-icon.png"class="img">
        </div>
        <div class="text-item">
            <p>Green Apple</p>
        </div>
        
    </div>
    <div *ngSwitchCase="2">
        <div class="item">
            <img src="https://icons.iconarchive.com/icons/babasse/old-school/128/coffee-icon.png" class="img">
        </div>
        <div class="text-item">
            <p>Coffee</p>
        </div>
    </div>
    <div *ngSwitchCase="3">
        <div class="item">
            <img src="https://icons.iconarchive.com/icons/sonya/swarm/128/Pizza-icon.png" class="img">
        </div>
        <div class="text-item">
            <p>Pizza</p>
        </div>
    </div>
</div>