.order-display{
    width: 170px;
    
    /* background-color: red; */
    position: absolute;
    top: 12px;
    font-size: 25px;
    right: 230px;
    border: dashed 6px #ff9f00;
    text-align: center;
}
.sP{
    height: 10px;
}
.order{
    width: 200px;
    position: absolute;
    right: 236px;
    font-size: 33x;
    bottom: 100px;
    font-size: 31px;
    border: dashed 6px #ff9f00;
}

.btn{
    width: 189px;
    /* margin-left: 2px; */
    margin: 8px;
    font-size: 27px;
    margin: 5px;
}

.button {
   
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #ff9f00;
    border: none;
    border-radius: 15px;
    box-shadow: 0 1px #999;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }