.products{
    border: dashed 6px rebeccapurple;
    width: 150px;
    height: 630px;
    display: flex;
    float: right;
    position: absolute;
    right: 40px;
    top: 10px;
}

.product{
        /* display: flex; */
        margin-left: -37px;
        margin-top: 70px;
}

.text{
    text-align: center;
    font-weight: 400;
    display: flex;
  justify-content: center;
  width: 150px;
}

.cProds{
 //   display: flex;
}


.sProds{
    width: 440px;
    display: flex;
    margin-left: 0;
    float: right;
    right: 113px;
    position: absolute;
    right: 220px;
    top: 409px;
    
    .sProd{
        margin-left: 10px;
        border-bottom: 5px solid rebeccapurple;
        cursor: pointer;
    }
}
