<!-- mfe-app-b -->
<div class="products">
    <div class="text"> Related Products </div>
    <div class="cProds" *ngIf="sugestiveId == 0">
        <div class="product"> <img src="https://icons.iconarchive.com/icons/fi3ur/fruitsalad/128/strawberry-icon.png">
        </div>

        <div class="product"><img src="https://icons.iconarchive.com/icons/musett/coffee-shop/128/Beer-icon.png"></div>

        <div class="product"><img
                src="https://icons.iconarchive.com/icons/google/noto-emoji-food-drink/128/32382-hamburger-icon.png">
        </div>

    </div>
    <div class="cProds" *ngIf="sugestiveId == 1">
        <div class="product"> <img src="https://icons.iconarchive.com/icons/iconicon/veggies/128/bananas-icon.png">
        </div>

        <div class="product"><img src="https://icons.iconarchive.com/icons/fi3ur/fruitsalad/128/strawberry-icon.png">
        </div>

        <div class="product"><img src="https://icons.iconarchive.com/icons/fi3ur/fruitsalad/128/coconut-icon.png"></div>

    </div>
    <div class="cProds" *ngIf="sugestiveId == 2">
        <div class="product"><img
                src="http://cdn5.colorir.com/desenhos/color/201518/copo-de-refrigerante-comida-bebidas-1072031.jpg">
        </div>

        <div class="product"><img
                src="https://scontent.fsod2-1.fna.fbcdn.net/v/t1.6435-9/97943788_101748511553246_4157737975586750464_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=973b4a&_nc_ohc=4n1QkQdqFCYAX_PP3LV&_nc_ht=scontent.fsod2-1.fna&oh=00_AT96K7cXTLkRc53EusUzj64ntC0zONQ8c9cK-WCK9bPs0A&oe=6266DFD8">
        </div>

        <div class="product"> <img src="https://icons.iconarchive.com/icons/musett/coffee-shop/128/Beer-icon.png"></div>

    </div>
    <div class="cProds" *ngIf="sugestiveId == 3">
        <div class="product"><img src="https://icons.iconarchive.com/icons/dunedhel/choson/128/Pacman-icon.png"></div>

        <div class="product"><img
                src="https://icons.iconarchive.com/icons/google/noto-emoji-food-drink/128/32382-hamburger-icon.png">
        </div>

        <div class="product"> <img
                src="https://icons.iconarchive.com/icons/google/noto-emoji-food-drink/128/32396-popcorn-icon.png"></div>

    </div>
</div>

<div class="sProds">
    <div class="sProd" (click)="select(1)">
        <img src="https://icons.iconarchive.com/icons/fi3ur/fruitsalad/128/apple-icon.png">
    </div>
    <div class="sProd" (click)="select(2)">
        <img src="https://icons.iconarchive.com/icons/babasse/old-school/128/coffee-icon.png">
    </div>
    <div class="sProd" (click)="select(3)">
        <img src="https://icons.iconarchive.com/icons/sonya/swarm/128/Pizza-icon.png">
    </div>
</div>